---
all:
  children:
    linux:
      children:
        mgmt_nodes:
          hosts:
            prod-admin-01:
              ansible_host: 10.0.1.10
              ansible_user: debian
        edge_proxies:
          hosts:
            prod-traefik-01:
              ansible_host: 10.0.2.10
              ansible_user: debian
        app_nodes:
          hosts:
            prod-app-01:
              ansible_host: 10.0.3.10
              ansible_user: debian
        postgresql_nodes:
          hosts:
            prod-postgres-01:
              ansible_host: 10.0.4.10
              ansible_user: debian
